body {
  font-family: Arial;
  text-align: center;
  background-color: #e8f5e9;
}

h1 {
  color: darkgreen;
}

a {
  text-decoration: none;
  color: green;
  font-weight: bold;
  margin: 10px;
}

a:hover {
  color: darkblue;
}
